<div class="container">
  <mat-form-field>
    <input matInput [(ngModel)]="name" placeholder="Input">
  </mat-form-field>
  <mat-checkbox [(ngModel)]="on">On</mat-checkbox>
  <button (click)="salvar" mat-raised-button color="primary">Salvar</button>
</div>

<br/>
<mat-list *ngIf="items">
  <mat-list-item *ngFor="let item of items | async">
    <mat-icon mat-list-icon>keyboard_arrow_right</mat-icon>
    <span>{{item.name}}</span>
    <mat-checkbox [(ngModel)]="item.on">On</mat-checkbox>
    <br/>
  </mat-list-item>

</mat-list>